<div class="jumbotron">
	<h1>Welcome!</h1>
	<p>Here you can schedule an appointment with any of our librarians.</p>
	<p><%= link_to 'Schedule an appointment', home_schedule_path, class: 'btn btn-primary btn-lg' %></p>
</div>
