 <div class="jumbotron" style="background-image: url(http://libraries.adelphi.edu/files/2014/03/Header6.jpg); background-size: cover; ">
	<h1>Welcome!</h1>
	<p>Here you can schedule an appointment with any of our librarians.</p>
	<p><%= link_to 'Schedule an appointment', new_appointment_path, class: 'btn btn-success btn-lg' %></p>
</div>


